/* brand section - start
==================================================================================================== */
.brand-section {
	.brand-logo {
		width: 100%;
		height: 85px;
		display: flex;
		align-items: center;
		margin: 40px auto 0px;
		>img {
			height: 80px;
			width: auto;
			margin: auto;
		}
	}
}
/* brand section - end
==================================================================================================== */