/* table of content - start
====================================================================================================

Project Name 	:  ----------
File 			:  CSS Base
Version 		:  1.0.0
Last change 	:  -- ----- ----
Author 			:  ----------
Developer:		:  Rakibul Islam Dewan

==================================================

- table of content - end
==================================================================================================== */

@import "variable";
@import "reset";

@import "header";
@import "footer";
@import "breadcrumb";
@import "sidebar";
@import "promotion";
@import "offer";
@import "policy";
@import "newsletter";
@import "brand";
@import "instagram";

@import "about";
@import "blog";
@import "shop";
@import "details";
@import "cart";
@import "contact";

@import "slider";
@import "home";

@import "responsive";